 font-family: Arial,
 sans-serif;
 background-color: #f8f8f8;
 margin: 0;
 padding: 0;
 }

 header {
   background-color: white;
   padding: 30px;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }

 .SUITS {
   color: #222;

   font-size: 40px {
     font-style: italic;
     color: #666;
     width: 20cm;
     height: 2cm;
     background-color: lavender;
     color: black;
   }

   .link {

     text-decoration: none;

   }

   a {
     border: 2px solid lavender;
     text-decoration: none;
     width: 2cm;
     height: 2cm;
     border-radius: 10px;
     font-size: x-large;
   }

   .ASIDE {
     background-color: lavender;
     color: black;
     width: 20cm;
     height: 5cm;
   }

   .form {
     border: 4px solid lavender;
     width: 10cm;
     height: 8cm;
     border-radius: 20px;
   }

   BODY {
     background-color: blue;
     PADDING: 0;
     MARGIN: 0;
   }